# Ignore Composer files
/vendor

# Ignore PHPStorm files
.idea

# Ignore system and backup files
/.DS_Store
/.env

# Ignore log files
/*.log

# Ignore PHP built-in server files
.sv_code

# Ignore server-specific files
.sftp-config.json
.sftp.json

# Ignore temporary files
/*.swp
/*.swo

# Ignore cache and session files
/cache/*
/sessions/*
